@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Raleway:500i');

body{
  background-color: white;
}

#name{
  color: #ff0080;
  font-family: 'Playfair Display', serif;
}
h2{
  background-color: black;
  color: white;
  font-family: 'Playfair Display', serif;
}

a{
  color: black;
  text-decoration: none;
  font-size: 19px;
}
a:hover{
  background-color: LightSkyBlue;
}
#address{
  color: black;
  font-family: 'Raleway', sans-serif;
}

ul li{
  list-style: circle;
}

.specialFont{
  font-family: 'Raleway', sans-serif;
  color: #ff0080;
}

.black{
  color: white;
  font-size: 15px;
  background-color: black;
  font-family: 'Raleway', sans-serif;
}

.snh{
  font-family: 'Raleway', sans-serif;
}

.table{
    font-style: italic;
}

.fontsize{
  font-size: 17px;
}
